body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .calculator {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 300px;
    padding: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    margin-right: 10px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 2s;
  }

  input[type="number"]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  
  button[type="button"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  button[type="reset"] {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .output {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  